<div class="footer">
  <div class="footer-links">        
    <a href="#">Contacto</a>
    <a href="#">Privacidad</a>
    <a href="#">Terminos</a>        
  </div>
  <div class="footer-owners">
    Made by Ariel Waisburg, Eric Hoare, Lucía Pérez Diez and Santiago Castillo
  </div>
  <div class="footer-social-media">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>