.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  display: flex;
  justify-content: space-between;

  .nav-link {
    margin: 0 10px;
  }

  .nav-link:hover {
    border-bottom: 1px solid grey;
  }
}